.board {
  display: flex;
  flex-direction: column;
  width: 400px; /* Ajustez la largeur selon vos besoins */
  border: 2px solid #333;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 20px;
}

.row {
  display: flex;
}

.square {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  background-color: #f0d9b5; /* Couleur de fond par défaut pour les cases blanches */
}

.black {
  background-color: #b58863; /* Couleur de fond pour les cases noires */
  color: #fff; /* Texte blanc pour les cases noires */
}

.square-number {
  font-size: 10px;
  color: rgba(0, 0, 0, 0.5); /* Couleur du numéro de case */
}
